
.tripleFlex {
    display: flex;
    align-items: center;
    .aboutBlurb, .aboutImage {
        width: 40%;
        padding: 0 3rem;
        font-size: 1.4rem;
        p {
            padding-bottom: 2rem;
        }
    }
    .aboutStats {
        text-align: center;
        width: 20%;
        padding: 0 6rem;
    }
}

.aboutStats ul {
    list-style-type: none;
    font-size: 1.4rem;
    .statNum p {
        font-family: 'Josefin Slab', serif;
        font-size: 6rem;
        font-weight: 700;
    }
    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }
}

.aboutImage {
    position: relative;
    .imageOverlay {
        z-index: 9;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(rgba(248, 39, 73, 0.4), rgba(248, 39, 73, 0.4));
    }
    img {
        filter: grayscale(100%);
    }
}

@media(max-width:1240px) {

    .tripleFlex {
        .aboutBlurb {
            width: 75%;
        }
        .aboutStats {
            width: 25%;
            padding: 0;
        }
    }

    .aboutStats ul .statNum p {
        font-size: 4rem;
    }


    .aboutImage {
        display: none;
        width: 0;
    }

}

@media (max-width: 800px) {

    .tripleFlex {
        flex-direction: column;
        .aboutBlurb {
            width: 100%;
        }
        .aboutStats {
            width: 100%;
        }
    }

    .aboutStats ul {
        display: flex;
        li {
            width: calc(100% / 3);
        }
    }

}

@media(max-width: 670px) {

    .tripleFlex .aboutBlurb {
        margin-top: 2rem;
        padding: 0;
    }

}

@media(max-width:500px) {

    .aboutStats ul {
        flex-direction: column;
        align-items: center;
        // border: 0.1rem solid $accent;
        li {
            width: 50%;
            .statNum {
                color: $accent;
            }
        }
    }

}