

.contactMain .halfFlex {
    display: flex;
    align-items: flex-start;
}

// contact details

.contactFlex {
    width: 50%;
    p, a {
        font-size: 1.4rem;
    }
    .bold {
        font-size: 2.4rem;
    }
}

input, textarea {
    display: block;
    background: $input;
    border: none;
    padding: 1rem;
    margin: 1rem 0;
    color: $text;
    width: 100%;
    border: 0.1rem solid $input;
    border-radius: 0.3rem;
    resize: none;
    &::placeholder {
        color: $text;
    }
    &:focus {
        border: 0.1rem solid $accent;
        outline: none;
    }
    &[type=submit] {
        background: $background;
        border: none;
        text-align: left;
        text-transform: lowercase;
        letter-spacing: 0.3rem;
        font-size: 2rem;
        &:hover {
            letter-spacing: 0.7rem;
        }
    }
}

.formContainer {
    padding-right: 5rem;
}

.contactDetails {
    padding: 0 5rem;
}

.hours {
    margin-top: 1rem;
}

// map

.map {
    width: 50%;
    iframe {
        width: 100%;
    }
}

@media(max-width: 1215px) {

    .formContainer {
        padding-right: 0;
    }

    .contactDetails {
        padding: 0 3rem;
    }

    .contactFlex {
        width: 60%;
    }

    .map {
        width: 40%;
    }

}

@media(max-width: 1030px) {

    .contactMain > .halfFlex {
        flex-direction: column;
    }

    .contactFlex, .map {
        margin-top: 5rem;
        width: 100%;
    }

    .formContainer {
        padding: 0 2.5rem 0 0;
    }
    
    .contactDetails {
        padding: 0 0 0 2.5rem;
    }

}

@media(max-width:750px) {

    .formContainer {
        padding: 0 1rem 0 0;
    }
    
    .contactDetails {
        padding: 0 0 0 1rem;
    }

}

@media(max-width: 560px) {

    .contactFlex .halfFlex {
        flex-direction: column;
    }

    .formContainer {
        padding: 0;
    }
    
    .contactDetails {
        padding: 0;
    }

    .map iframe {
        height: 30rem;
        width: 100%;
    }

}
