
.halfFlex {
    .questions {
        width: 50%;
        list-style-type: none;
        li {
            padding: 0.8rem 0;
            cursor: pointer;
            font-size: 1.8rem;
            &:hover {
                color: $accent;
            }
        }
    }
    .questionExpanded {
        width: 50%;
    }
}

.oneQuestion {
    display: none;
}

.show {
    display: block;
}