
.halfFlex {
    .questions {
        width: 50%;
        list-style-type: none;
        li {
            text-transform: lowercase;
            padding: 0.8rem 0;
            cursor: pointer;
            font-size: 1.8rem;
            &:hover {
                color: $accent;
            }
        }
    }
    .questionExpanded {
        width: 50%;
    }
}

.oneQuestion {
    display: none;
}

.show {
    display: block;
}

.active {
    color: $accent;
}

@media(max-width: 900px) {

    .mainFaq .halfFlex {
        flex-direction: column;
        .questions {
            width: 100%;
            text-align: center;
        }
        .questionExpanded {
            width: 100%;
            margin-top: 3rem;
            text-align: center;
        }
    }

}