

footer {
    display: flex;
    width: 10rem;
    justify-content: space-between;
    align-items: center;
}

@media(max-width:500px) {

    footer {
        width: 100%;
        justify-content: center;
        padding: 3rem 0;
        .smallCircle {
            margin: 0 3rem;
        }
    }

}