
.portfolioMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-carousel {
    width: 100%;
    height: 45rem;
}

.carousel-cell {
    height: inherit;
    width: 45rem;
    overflow: hidden;
    // border: 0.5rem solid $background;
    margin: 0 0.25rem;
    img {
        height: inherit;
        object-fit: cover;
        filter: grayscale(100%);
    }
}

@media(max-width: 1000px) {

    .wrapper.portfolioMain {
        margin: 0;
    }

    .main-carousel {
        height: 35rem;
    }

    .carousel-cell {
        width: 35rem;
    }

}

@media(max-width: 600px) {

    .main-carousel {
        height: 25rem;
    }

    .carousel-cell {
        width: 25rem;
    }

}