
$accent: #f82749;
$background: #191919;
$text: #ffffff;
$input: #333333;

html {
    font-size: 63.5%;
}

* {
    transition: all 0.3s;
}

body {
    font-size: 1.6rem;
    font-family: 'Josefin Slab', serif;
    color: $text;
    background: $background;
    padding: 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0 0 1rem 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2rem;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: $text;
    &:hover {
        color: $accent;
    }
}

.wrapper {
    margin: 0 6rem;
}

.smallCircle {
    background: $accent;
    border-radius: 50%;
    height: 0.3rem;
    width: 0.3rem;
}

.bold {
    font-weight: 700;
    font-size: 2.4rem;
    font-family: 'Josefin Slab', serif;
    margin-top: 1rem;
    text-transform: lowercase;
}

@media(max-width: 700px) {

    body {
        min-height: 100vh;
    }

    .wrapper {
        margin: 0;
    }

}

@media(max-width: 600px) {
    
    .discover .smallCircle {
        background: white;
    }

}

@media(max-width: 500px) {

    body {
        padding: 1rem;
    }

}